@import url('https://fonts.googleapis.com/css2?family=Economica&family=Playfair+Display&display=swap');
body {
    background-color: rgb(74, 93, 103);
    margin: 0;
    padding: 0;
    font-family: Playfair Display;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
}
.nav_link {
    padding: 30px;
    font-size: 15px;
    text-decoration: none;
    text-align: center;
}
main {
    background-color: white;
    padding: 40px;
}
img {
    width: 35%;
    display: block;
    margin: 0 auto;
    border: 5px solid black;
    border-radius: 150px;
    box-shadow: 15px 15px 25px gray;
    transition: transform .5s;
}
img:hover {
    opacity: 0.5;
}
a {
    color: rgb(246, 245, 245)
}
nav a:hover {
    color: rgb(70, 95, 60);
    background-color: white;
    
}
#main_title {
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    font-size: 50px;
    color: black;
    text-align: center;
    font-family: Economica;
}
footer p, h3 {
    text-align: center;
}
main p {
    width: 50%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 50px;
    background-color: rgb(74, 93, 103);
    border: 5px solid black;
    color: white;
    border-radius: 50px;
    box-sizing: border-box;
}
#sub_title {
    color: red;
    width: 50%;
    margin: 0 auto;
    font-size: 50px;
}
footer {
    padding: 20px;
}

@media (max-width: 900px) {
    
}